{% trans_default_domain 'FOSUserBundle' %}



{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
        <label >Mot de passe actuel</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8">
        <div class="form-group">
            {{ form_row(form.current_password, { 'label': false,'attr': {'class': 'form-control no-resize col-sm-3'}} )}}
            {#{{ form_row(formEntreprise.nom, { 'attr': {'class': 'form-control no-resize', 'placeholder': 'Nom de votre entreprise'} })}}#}
        </div>
    </div>
</div>







<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
        <label >Nouveau mot de passe</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8">

        <div class="form-group">

            {{ form_widget(form.plainPassword.first, {'label': false,'attr': {'class': 'form-control col-sm-3', 'type': 'text','placehorlder' :'password'}}) }}
<br>
                {{ form_widget(form.plainPassword.second, {'label': false,'attr': {'class': 'form-control col-sm-3', 'type': 'text', 'placeholder' : 'confirm password'}}) }}
            {{ form_widget(form) }}
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-sm-8 offset-sm-2">
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />

    </div>
</div>
{{ form_end(form) }}

