{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<form action="{{ path("fos_user_security_check") }}" method="post">



    <div class="header">
        <div class="logo-container">
            <img src="{{ asset('assets/Oreo/images/logo.svg') }}" alt="">
        </div>
        <h5>Log in</h5>
        {% if app.user %}
            <strong>{{ app.user.username }}</strong><br>
                Vous voulez changer de compte?
        {% endif %}

    </div>
    <div class="content">

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"  />
        {% endif %}

        <div class="input-group input-lg">
            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" >
            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-circle"></i>
                            </span>
        </div>

        <div class="input-group input-lg">

            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}

            <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" />

            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        </div>


    </div>
    <div class="footer text-center">


        <input type="submit" name="_submit"  id="_submit" class="btn btn-primary btn-round btn-lg btn-block " value="{{ 'security.login.submit'|trans }}" />
        {#<h5><a href="forgot-password.html" class="link">Forgot Password?</a></h5>#}
    </div>


</form>