{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/morrisjs/morris.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/color_skins.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/fullcalendar/fullcalendar.min.css') }}"/>
    {% endblock %}


{% block content %}

<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Evénement

                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Profil</a></li>
                    <li class="breadcrumb-item active"><a href="">Groupe</a></li>
                    <li class="breadcrumb-item active"><a href="">{{ event.titre }}</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Horizontal Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>{{ event.groupe.nom }}<strong>
                                {{ event.titre }} </strong></h2>
                    </div>
                    <div class="body">

                        Message : {{ event.message }} <br />
                        Adresse:  <span id="adresse">{{ event.adress }}</span> <br />
                        Début: {{ event.datedebut |date('d/m/Y - h:m') }} <br />
                        fin : {{ event.datefin |date('d/m/Y - h:m') }} <br /><br />


              
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60vh;
      }
</style>
 <div id="map"></div>
 <script>





    var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48.849145, lng: 2.3896591},
          zoom: 14
        });
      }


      var request = new XMLHttpRequest();
 
request.onreadystatechange = function() {
  if(request.readyState === 4) {
    if(request.status === 200) { 
      
        var resultat = request.response.results[0].geometry.location;
        var lat = resultat.lat;
        var lng =  resultat.lng;
        console.log(lat);
        console.log(map);

            var center = new google.maps.LatLng(lat, lng);
            map.panTo(center);

    } else {
    } 
  }
}
 

var adresse = document.getElementById("adresse").innerHTML;
var adresseOK = adresse.split(' ').join('+');
request.open('Get', 'https://maps.googleapis.com/maps/api/geocode/json?address='+adresseOK+'&key=AIzaSyDZxqxF3QPGOZlQDP4fOAfiFnV0cCfT2-0');
request.responseType = 'json';
request.send();
</script>

       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZxqxF3QPGOZlQDP4fOAfiFnV0cCfT2-0&callback=initMap"
    async defer></script>




                </div>
            </div>
        </div>
        <!-- #END# Horizontal Layout -->


        {% endblock %}

        {% block js %}



            <script src="{{ asset('assets/Oreo/bundles/libscripts.bundle.js') }}"></script>
            <script src="{{ asset('assets/Oreo/bundles/vendorscripts.bundle.js') }}"></script>
            <script src="{{ asset('assets/Oreo/bundles/fullcalendarscripts.bundle.js') }}"></script>
            <script src="{{ asset('assets/Oreo/bundles/mainscripts.bundle.js') }}"></script>
            <script src="{{ asset('assets/Oreo/js/pages/calendar/calendar.js') }}"></script>

        {% endblock %}
