{% extends 'base.html.twig' %}



{% block content %}

    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Accueil
                        <small>Actualités du moment</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="{{ path('actu_show') }}"><i class="zmdi zmdi-home"></i>Accueil</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ul>
                </div>
            </div>
        </div>


        {% for actu in actus  %}
            <div class="col-lg-12 col-md-12 actu" id="actu-{{ actu.id }}">
                <div class="card">
                    <div class="header">
                        <h2><strong> {{ actu.titre }} </strong> <a href="{{ path('entreprise_show', {'id' : actu.entreprise.id }) }}"> {{ actu.entreprise.nom }} </a> </h2>
                        <ul class="header-dropdown">
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    {{ actu.message | raw}}


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <!-- #END# Custom Content -->
            </div>
            </div>
        {%   endfor %}


        </div>


<div class="d-flex justify-content-between">

<div class="float-left mb-4 col-md-4">
<button class="btn btn-primary btn-simple" id="backButton">
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 d-flex float-left justify-content-start">
             <div class="demo-google-material-icon d-flex ">  <i class="material-icons ">arrow_back</i> <span class="icon-name pt-1 pl-2">voir les actu précédentes</span></div>
           </div>
</button>
</div>

<div>
    <span class="badge badge-default">page <span id="idPage">1</span></span>
</div>

<div class="float-right mb-4 col-md-4 d-flex justify-content-end">
<button class="btn btn-primary btn-simple" id="forwardButton">
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 d-flex float-right justify-content-end">
             <div class="demo-google-material-icon d-flex "> <span class="icon-name pt-1 pr-2">voir plus d'actu</span> <i class="material-icons ">arrow_forward</i> </div>
           </div>
</button>
</div>
</div>
    </section>
{% endblock %}

{% block js %}
<script src="{{ asset('assets/Oreo/bundles/libscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/vendorscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/morrisscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/jvectormap.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/knob.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/mainscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/js/pages/index.js') }}"></script>
<script src="{{ asset('assets/Oreo/plugins/momentjs/moment.js') }}"></script>
<script src="{{ asset('assets/Oreo/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script> 
<script src="{{ asset('assets/Oreo/js/pages/forms/basic-form-elements.js') }}"></script>
<script src="{{ asset('assets/Oreo/js/custom.js') }}"></script>

{% endblock %}