{% trans_default_domain 'FOSUserBundle' %}



    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}})  }}


    <div class="header">
        <div class="logo-container">
            <img src="{{ asset('assets/Oreo/images/logo.svg') }}" alt="">
        </div>
        <h5>Inscription</h5>
    </div>
    <div class="content">

        <div class="input-group input-lg">

            {{ form_widget(form.username, {'label': false,'attr': {'class': 'form-control', 'type': 'text' ,'placehorlder' :'username'}}) }}
            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-circle"></i>
                            </span>
        </div>

        <div class="input-group input-lg">

            {{ form_widget(form.email, {'label': false,'attr': {'class': 'form-control', 'type': 'text','placehorlder' :'email'}}) }}
            <span class="input-group-addon">
                                <i class="zmdi zmdi-email"></i>
                            </span>


        </div>

        <div class="input-group input-lg">

            {{ form_widget(form.plainPassword.first, {'label': false,'attr': {'class': 'form-control', 'type': 'text','placehorlder' :'password'}}) }}
            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
        </div>
        <div class="input-group input-lg">

            {{ form_widget(form.plainPassword.second, {'label': false,'attr': {'class': 'form-control', 'type': 'text', 'placeholder' : 'confirm password'}}) }}
            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
        </div>






    </div>
    <div class="footer text-center">
        <input type="submit" class="btn btn-primary btn-round btn-lg btn-block " value="{{ 'registration.submit'|trans }}" />


    </div>


{{ form_end(form) }}