{% extends 'base.html.twig' %}



{% block content %}

    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Crée une Entreprise
                        <small>Cree une entreprise</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">UI</a></li>
                        <li class="breadcrumb-item active">List groups</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <!-- Basic Examples -->
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Vous </strong> </h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <ul class="list-group">
                                {{ form_start(formEntreprise) }}
                                {{ form_errors(formEntreprise) }}

                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                        <label >Titre</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8">
                                        <div class="form-group">
                                            {{ form_row(formEntreprise.nom, { 'attr': {'class': 'form-control no-resize', 'placeholder': 'Nom de votre entreprise'} })}}
                                        </div>
                                    </div>
                                </div>


                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                        <label >Description</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8">
                                        <div class="form-group">
                                            {{ form_row(formEntreprise.description, { 'attr': {'class': 'ckeditor'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-8 offset-sm-2">
                                        {{ form_row(formEntreprise.submit, { 'attr': {'class': 'btn btn-raised btn-primary btn-round waves-effect'} }) }}
                                    </div>
                                </div>

                                {{ form_end(formEntreprise) }}



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Custom Content -->
        </div>
        </div>
    </section>
{% endblock %}



{% block js %}
    <script src="{{ asset('assets/Oreo/bundles/libscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/vendorscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/morrisscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/jvectormap.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/knob.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/js/pages/index.js') }}"></script>

    <script src="{{ asset('assets/Oreo/plugins/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/Oreo/js/pages/forms/editors.js') }}"></script>


{% endblock %}