{{ form_start(searchEntreprise)}}



 <div class="input-group ">

 {{ form_widget(searchEntreprise.nom, {'label': false,'attr': {'class': 'form-control', 'type': 'text' ,'placehorlder' :'entreprise ...'}}) }}
<span class="input-group-addon">
 {{ form_widget(searchEntreprise.submit, {'label': false,'attr': {'style': 'display:none','class': 'zmdi zmdi-search', 'type': 'text'}}) }}
 <i class="zmdi zmdi-search">
 {{ form_widget(searchEntreprise.submit, {'label': false,'attr': {'class': '', 'type': 'text'}}) }}
  </i>
</span>

 </div>

{{ form_end(searchEntreprise)}}


