{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/morrisjs/morris.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/color_skins.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/ecommerce.css') }}"/>
    {% endblock %}

{% block content %}
    <section class="content ecommerce-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Administration
                        <small>Retirer un membre du Groupe</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                        <li class="breadcrumb-item"><a href="ec-dashboard.html">eCommerce</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Striped Rows -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2></h2>
                                <ul class="header-dropdown">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another action</a></li>
                                            <li><a href="javascript:void(0);">Something else</a></li>
                                        </ul>
                                    </li>
                                    <li class="remove">
                                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="body table-responsive">
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>USERNAME</th>
                                        <th>ROLE</th>
                                        <th>SUPPRIMER</th>
                                        <th>ATTRIBUER ROLE ADMIN</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for usergroupes in usergroupe %}

                                        <td>{{ usergroupes.user.username }}</td>

                                        {% if usergroupes.RoleGroupe == 1 %}
                                            <td> <span class="badge badge-success ">Admin</span></td>
                                        {% endif %}
                                        {% if usergroupes.RoleGroupe == 0 %}
                                            <td> <span class="badge badge-primary"> Membre </span> </td>
                                        <td>    <a href="{{ path('admin_groupe_upAdmin', {'groupe': usergroupes.groupe.idGroupe, 'user':  usergroupes.user.id }) }}" class="btn btn-primary waves-effect"><i class="zmdi zmdi-plus"></i></a>

                                        </td>

                                        {% endif %}


                                        <td> <a href="{{ path('admin_groupe_delete', {'groupe': usergroupes.groupe.idGroupe, 'user':  usergroupes.user.id }) }}" class="btn bg-red waves-effect"><i class="zmdi zmdi-delete"></i></a>
                                        </td>


                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Striped Rows -->

            </div>

    </section>


{% endblock %}

