{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/morrisjs/morris.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/color_skins.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/ecommerce.css') }}"/>
    {% endblock %}

{% block content %}
    <section class="content ecommerce-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Admin
                        <small>Ajouter un groupe</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                        <li class="breadcrumb-item"><a href="ec-dashboard.html">eCommerce</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">

                {% for usergroupes in usergroupe %}
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="card product_item">
                            <div class="body">
                                <div class="cp_img">
                                    <img src="{{ asset('assets/Oreo/images/ecommerce/1.png') }}" alt="Product" class="img-fluid" />
                                    <div class="hover">
                                        <a href="{{ path('admin_groupe_delete', {'groupe': usergroupes.groupe.idGroupe, 'user':  usergroupes.user.id }) }}" class="btn btn-primary waves-effect"><i class="zmdi zmdi-plus"></i></a>
                                        {#<a href="{{ path('quitter_groupe', {'groupe': groupes.idGroupe}) }}" class="btn btn-primary waves-effect"><i class="zmdi zmdi-delete"></i></a>#}
                                    </div>
                                </div>
                                <div class="product_details">
                                    <h5><a href="ec-product-detail.html">{{ usergroupes.user.username }}</a></h5>

                                    {% if usergroupes.RoleGroupe == 1 %}
                                    <h5><a href="ec-product-detail.html">Admin</a></h5>
                                    {% endif %}
                                    {% if usergroupes.RoleGroupe == 0 %}
                                        <h5><a href="ec-product-detail.html">Membre</a></h5>
                                        <a href="{{ path('admin_groupe_upAdmin', {'groupe': usergroupes.groupe.idGroupe, 'user':  usergroupes.user.id }) }}" class="btn btn-primary waves-effect"><i class="zmdi zmdi-plus"></i></a>
                                    {% endif %}
                                    <ul class="product_price list-unstyled">
                                        {#<li class="old_price">$16.00</li>#}
                                        {#<li class="new_price">$13.00</li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>


{% endblock %}

