{% extends 'base.html.twig' %}



{% block content %}
    <section class="content blog-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Fils d'Actualité
                        <small>nom groupe</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Profil</a></li>
                        <li class="breadcrumb-item active"><a href="blog-dashboard.html">Groupe</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Textarea -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Message</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <!--  is this... -->
                                 <button type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#userInviteModal">Ajouter un utilisateur</button>
                                       
                                 <button type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#messageModal">Ajouter un message</button>

                                        <a  href="{{ path('event_show', {'groupe': groupe.idGroupe}) }}"  >  <button type="button" class="btn btn-primary waves-effect m-r-20">Les events</button></a>

                                        {% if isAdmin == true %}
                                            <a  href="{{ path('admin_groupe', {'groupe': groupe.idGroupe}) }}"  >  <button type="button" class="btn btn-primary waves-effect m-r-20">Administration des membres</button></a>
                                        {% endif %}
                                        <!--  CKEDITOR -->
                                        {{ form_start(formMessage) }}
                                        {{ form_errors(formMessage) }}

                                        {{ form_row(formMessage.message, { 'attr': {'class': 'ckeditor'} }) }}

                                        {{ form_row(formMessage.submit, { 'attr': {'class': 'btn btn-raised btn-primary btn-round waves-effect'} }) }}
                                        {{ form_end(formMessage) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Textarea -->
<!-- INBOX MESSAGE -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Commentaire</strong></h2>
                    </div>
                    <div class="body">
                        <ul class="inbox-widget list-unstyled clearfix">
                            {% for message in allMessage %}

                            <li class="inbox-inner"> <a href="javascript:void(0)">
                                    <div class="inbox-item">
                                        <div class="inbox-item-info">
                                            <p class="author">{{ message.username }}</p>
                                            <p class="inbox-message">{{ message.message }}</p>
                                            <p class="inbox-date">{{ message.date|date("m/d/Y") }}
                                            </p>
                                        </div>
                                    </div>
                              </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END INBOX MESSAGE -->
                {#{% for message in allMessage %}#}
                {#<li>{{ message.message }}</li>#}
                    {#<li>{{ message.date }}</li>#}
                    {#<li>{{ message.username }}</li>#}
                {#{% endfor %}#}
            {#</div>#}
        </div>
    </section>


   <div class="modal fade" id="userInviteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Ajouter un utilisateur</h4>
            </div>
            <div class="modal-body"> 
                    {{ form(formInviteUser) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block js %}
    <script src="{{ asset('assets/Oreo/bundles/libscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/vendorscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/morrisscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/jvectormap.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/knob.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/Oreo/js/pages/index.js') }}"></script>

    <script src="{{ asset('assets/Oreo/plugins/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/Oreo/js/pages/forms/editors.js') }}"></script>




{% endblock %}
